@charset "UTF-8";

/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

body{
	padding-top: 80px;
}

#wrap{
	width: 988px;
	margin: 0 auto;
}

#header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: #ffffff;
	width: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border: 1px dotted #94c8b1;
	padding: 10px;
}

.h{
	border-left: 10px solid #d0e35b;
	border-radius: 5px 0 0 5px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fff;
}

.item{
	background-color: beige;
	float: left;
	overflow: hidden;
	position: relative; /*基準*/
	margin-bottom: 5px;
	padding: 10px;
	width: 300px;
	border: 1px solid #ccc;
}

.item img{
	padding-top: 10px;
	height: 250px;
}

.ico-new{
	position: absolute;
	left: -30px;
	top: 10px;
	transform: rotate(-45deg);
	width: 100px;
	padding: 5px;
	background: #f00;
	color: #fff;
	font-size: 0.8em;
	line-height: 1;
	text-align: center;
}

/*回頁面開頭*/
#pagetop{
	margin: 0;
	position: fixed;
	right: 0;
	bottom: 42px;
	font-size: 16px;
	z-index: 9999;
}

#pagetop a{
	display: block;
	padding: 5px 20px;
	background: #000;
	color: #fff;
	text-decoration: none;
}

#pagetop1{
	margin: 0;
	position: fixed;
	left: 0;
	bottom: 42px;
	z-index: 9999;
}

#pagetop1 a{
	display:inline-block;
	padding:10px;
	background: #000;
	color: #fff;
	text-decoration: none;
}

#footer{
	background-color: red;
	clear: both;
}