@charset "utf-8";

/*視窗背景色設定*/
body{
	/*
	background-color: #BFB59E;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
	*/
	background: #BFB59E url(../images/bg.png) repeat-x;
}

/*連結顏色設定*/
a{
	color: #413C58;
}
a:hover{
	color: #94849B;
	text-decoration: none;
}

/*頁首，導覽，頁尾的共通設定*/
header,nav,footer{
	text-align: center;
}

/*頁面標題設定*/
h1{
	width: 300px;
	margin: 40px auto;
	padding: 30px;
	border: 5px solid #B4ADA3;
	background-color: #858786;
	color: #fff;
	font-size: 300%;
	text-align: center;
	line-height: 1;
	border-radius: 50%;
	text-shadow: 1px 1px 2px #262626;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(to bottom,#858786,#394648);
	font-family: 'Limelight', cursive;
	font-family: 'Playfair Display', serif;
}

/*內容區塊邊框設定*/
#contents{
	width: 798px;
	margin: 40px auto;
	padding: 40px 80px;
	border: 1px solid #f6bb9e;
	background-color: #fff;
}

/*表格設定*/
.entryTable{
	width: 100%;
	margin-bottom: 30px;
	border: 2px solid #f6bb9e;
	border-collapse: collapse;
}
.entryTable th,.entryTable td{
	padding: 10px 20px;
	border: 1px solid #f6bb9e;
}
.entryTable th{
	width: 10em;
	background-color: #ffeeee;
	text-align: left;
}
.entryTable caption{
	margin-bottom: 10px;
}

/*輸入表單設定*/
.entryTable input[type="text"],
.entryTable input[type="email"],
.entryTable textarea{
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 1em;
}
.entryTable input[type="text"]:focus,
.entryTable input[type="email"]:focus,
.entryTable textarea:focus{
	background-color: #ffffee;
	outline: none;
	border-left: 5px solid #ffa700;
}

/*滑鼠指標樣式*/
label,input,textarea,select{
	cursor: pointer;
}

/*按鈕設定*/
.entryBtns{
	text-align: center;
}
/*.entryBtns input{
	width: 100px;
}*/

/*按鈕基本樣式*/
.entryBtns input{
	width: 200px;
	margin: 0 10px;
	padding: 10px;
	background: #fff;
	border: 2px solid #fabb9e;
	border-radius: 10px;
	font-size: 1em;
	-webkit-appearance: none;
}

/*送出按鈕的樣式*/
.entryBtns input[type="submit"]{
	background: #fadccc;
}

/*滑鼠移到按鈕時*/
.entryBtns input:hover{
	opacity: 0.7;
}

/*UI虛擬類別選擇器*/
.ui{
margin:0 0 10px 40px;
padding:15px;
border:#ccc 1px solid;
}

/*選項可選時的Label樣式*/
.ui input:enabled+label{
	cursor: pointer;
}

.ui input:enabled+label:hover{
	color: #00c4ab;
}

/*選項不可選時的Label樣式*/
.ui input:disabled+label{
	color: #ccc;
}

/*已勾選項目的Label樣式*/
.ui input:checked+label{
	background: #cceebb;
}

.stripe{
width:100%;
border-collapse:collapse;
border:#ccc 1px solid;
}

.stripe td{
padding:10px;
border:#ccc 1px solid;
}

/*雙色條紋表格*/
.stripe tr:nth-child(even){
	background-color: #eee;
}

.stripe tr:only-of-type{
	font-weight: bold;
	color: #FFFFFF;
	background-color: #003060;
}

/*回頁面開頭*/
#pagetop{
	margin: 0;
	position: fixed;
	right: 0;
	bottom: 42px;
	font-size: 16px;
	z-index: 9999;
}

#pagetop a{
	display: block;
	padding: 5px 20px;
	background: #000;
	color: #fff;
	text-decoration: none;
}

#pagetop1{
	margin: 0;
	position: fixed;
	left: 0;
	bottom: 42px;
	z-index: 9999;
}

#pagetop1 a{
	display:inline-block;
	padding:10px;
	background: #000;
	color: #fff;
	text-decoration: none;
}